.note-card {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
}

.note-container {
    display: flex;
    align-items: center;
}

.note-card svg {
    width: 20px;
    height: 20px;
    color: #FFC700;
}

.note-card h4 {
    font-size: 1em;
    margin-left: 10px;
    margin-top: 5px;
}

.base-input.note {
    height: 5em;
    font-size: 0.9em;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px;
}


@media (min-width: 768px) {
    .note-card { 
      padding: 30px;
    }

    .note-card h4, .note-card h6 {
        font-size: 1.5em;
    }

    .base-input.note {
        height: 7em;
        margin-bottom: 20px;
        padding: 15px;
    }
}
  
@media (min-width: 1200px) {
    .note-card {
      padding: 40px;
    }

    .note-card h4, .note-card h6 {
        font-size: 1.8em;
    }

    .base-input.note {
        height: 7em;
        margin-bottom: 20px;
        padding: 15px;
    }
}
